<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--	<connectionStrings>
		<add name="conn" connectionString="server=FRODO; user id=sa; password=sasa; database=final" providerName="System.Data.SqlClient"/>
	</connectionStrings> -->
	<connectionStrings>
		<!--<add name="finalconnectivity" connectionString="Data Source=FRODO;AttachDbFilename=|DataDirectory|final.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
		<add name="finalconnectivity" providerName="System.Data.SqlClient" connectionString="Data Source=FRODO; Initial Catalog=final; User ID=sa;password=sasa"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.SqlEnum, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="Login.aspx"></forms>
		</authentication>
	</system.web>
</configuration>
